@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(0, 255, 72);
    color: white;
}

header{
    margin-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

 

.logo{
    font-size: 2.8rem;
    color: #800000;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #800000;
    border-bottom: 3px solid #800000;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #800000;
        border-bottom: 3px solid #800000;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #000000;
        border-top: 0.1rem solid rgba(17, 217, 37, 0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #800000;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    border-bottom: 0.5px solid #800000;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    
}

.detail{
    color: #800000;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
    border: solid 5px #800000;
    margin-bottom: 150px;
    -webkit-mask-image:linear-gradient(rgb(252, 0, 0),transparent);
     mask-image:linear-gradient(rgb(114, 0, 0),transparent);
}

.home-img:hover{
    border: solid 5px #d60303;
    transition: 1s;
    
}



.home-img img{
    position: relative;
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #800000;
    cursor: pointer;
    transition: 0.2s linear;
    
    
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
   
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #800000;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #800000;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #800000;
    box-shadow: 0  0 25px #800000;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #800000;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #800000;
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: rgba(241, 241, 252, 0.2) 0px 7px 29px 0px;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #ff0000;
    color: black;
    box-shadow: 0 0 25px #800000;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #a10000;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #00570d;
    }
}

@keyframes words{
    0%, 30%{
        content: "Video Editor";
    }
    31%, 60%{
        content: "VFX Artist";
    }
    61%, 100%{
        content: "Youtuber";
    
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .home-img{
        border: none;
    }
}
 
#container{
    background-color: rgb(0, 0, 0);
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#container2{
    
    background-color: rgb(0, 0, 0);
   margin-top: 150px;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

#container7{
    
    background-color: rgb(0, 0, 0);
   margin-top: 100px;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

#container7 h1{
    font-weight: bold;
    font-size:10rem;
    color: #ffffff;
   
}


#container6{
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}
 




#container2 h1{
    font-weight: bold;
    font-size:8rem;
    color: #ffffff;
    z-index: 1;
   
}

#container10{
    
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    
}

#container10 h1{
    font-weight: bold;
    font-size:40vw;
    color: #ffffff;
    z-index: 1;
   
}

#container8 h1{
    font-weight: bold;
    font-size:10rem;
    color: #820000;
    text-align: center;
    z-index: 1;
   
}





#skill{
    
    background-color: rgb(0, 0, 0);
   margin-top: 150px;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #959aff;
  
}

#skill h1{
    font-weight: bold;
    font-size:10rem;
    
}


#exp{
    
    background-color: rgb(0, 0, 0);
   margin-top: 150px;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #959aff;
}

#exp h1{
    font-weight: bold;
    font-size:10rem;
}


.box{
    width: 180px;
    height: 320px;
    margin: 5px;
    margin-top: 50px;
}





.box2{
    width: 50%;
    height: 320px;
    margin: 5px;
    margin-top: 100px;
    text-align: center;
}

#container .box2 h2{
    text-align: left;
    font-weight: normal;
}

.box4 img{
    max-width: 100%;
     max-height: 100%;
      margin-left: 180px;
}



.box2 img{
    -webkit-mask-image:linear-gradient(black,transparent); mask-image:linear-gradient(black,transparent);
}





@media(min-width:300px) and (max-width:414px){

    body{
        overflow-x: hidden;
    }

    #container10{
            background-color: rgb(0, 0, 0);
           margin-top: 150px;
            height: 20vh;
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            
        
    }
    
    #container10 h1{
        font-weight: bold;
        font-size:40vw;
        color: #ffffff;
        z-index: 1;
       transform: translate(0%);
    }
    
.home-img{
    margin-top: -100px;
}

.home-img:hover{
    border: solid 5px #000000;
    transition: 1s;
    
}

#container2 h1{
    font-size: 3.9rem;
    margin-top: 100px;
    z-index: 1;
}
#exp h1{
    font-size: 5rem;
    margin-top: 120px;
}

.box4 img{
    margin-left: 0px;
}

#container2{
    margin-top: 0px;
}
#container2 h1{
    font-size: 3.9rem;
}

#container6{
    margin-top: 0px;
}
 #skill{
    margin-top: 50px;
 }

 #skill h1{
    font-size: 3.9rem;
    margin-top: 100px;
 }
 #exp{
    margin-top: 0px;
 }
 #exp h1{
    font-size: 3.9rem;
 }

 #container{
    height: 60vh;
 }
 #container .box2 h2{
    font-weight: lighter;
    text-align: left;
    margin-top: -100px;
 }

 #container .box2 img{
    margin-top: -100px;
 }

 .home-content{
    margin-top: -180px;
}

}












.pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
  }
  
  .pricing-card{
    flex: 1;
    max-width: 240px;
    height: 400px;
    background-color: #000000;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #fff5f5;
    transition: .3s linear;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .pricing-card-header{
    background-color:
    #00046a;
    display: inline-block;
    color: #c2c2c2;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
  }
  
  .pricing-card:hover .pricing-card-header{
    box-shadow: 0 0 0 26em #0606064d;
  }
  
  .price{
    font-size: 60px;
    color:  #0f5df9;
    margin: 40px 0;
    transition: .2s linear;
  }
  
  .price sup, .price span{
    font-size: 22px;
    font-weight: 700;
  }
  
  .pricing-card:hover ,.pricing-card:hover .price{
    color: #fff;
  }
  
  .pricing-card li{
    font-size: 10px;
    font-weight: BOLD;
    padding: 10px 0;
    text-transform: uppercase;
  
  }
  
  .pricing-card ul{
    margin-bottom: 100px;
  }

  
  .order-btn:hover{
    background-color: #0fbcf9;
    color: #fff;
  }
  
  @media screen and (max-width:1100px){
    .pricing-card{
      flex: 50%;
    }
  }

